<!-- main document markup start -->
        <!-- start header -->
        <div class="site-header" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
            <header class="container" >
                <div class="row">
                    <div class="col-sm-12">
                        {{#if @blog.logo}}
                        <h1 class="logo"><a href="http://crisis.net"><img src="{{@blog.logo}}" alt="{{@blog.title}}"></a></h1>
                        {{else}}
                        <h1 class="logo"><a href="http://crisis.net">{{@blog.title}}</a></h1>
                        {{/if}}
                        <h2 class="site-description">The firehose of <strong>global crisis data</strong></h2>
                        <div class="home-link"><a href="{{@blog.url}}">Blog Home</a></div>
                    </div>
                </div>
            </header>
        </div>
        <!-- end header -->
